body {
  margin: 0;
  padding: 0;
  background-color: #eef2f1;
}

header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.logo-section {
  margin-left: 15px;
}
.search-bar {
  width: 40%;
}

.section-video-icon {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 40px;
}
.user-profile {
  width: 15%;
  display: flex;
  align-items: center;
}
.header-icons-section {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.header-icon i {
  color: #9c9fa6;
  font-size: 1.1rem;
  cursor: pointer;
}

.video-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #47a0d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-icon i {
  color: #fff;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#navbar {
  width: 300px;
  background-color: #fff;
}
main {
  display: flex;
}
.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 12px 0px 30px;
}
.user-details {
  display: flex;
}

.user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.bookmark-icon {
  font-size: 1.1rem;
  color: #18b5f7;
}

.nav-item {
  width: 100%;
  border: none;
  padding: 20px 20px;
  border-top: 1px solid #e1e1e1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3d3c3c;
  text-transform: uppercase;
  background-color: #fff;
}

.nav-item i {
  color: #bfabc3;
  font-size: 1.1rem;
}

.active {
  background-color: #0c84cb;
  color: #fff;
}
.active i {
  color: #fff;
}

.project-section {
  margin-top: 25px;
  padding: 20px;
}
.project-heading {
  border-bottom: 1px solid #e1e1e1;
  color: #3d3c3c;
}

.project-btn {
  border: none;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  color: #fff;
  background-image: linear-gradient(180deg, #0fb1f4, #062676);
}

.category-item {
  display: flex;
  align-items: center;
}

.button-orange {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #fe9796;
  margin-right: 8px;
}
.button-blue {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #5fc1ee;
  margin-right: 8px;
}

.main-container {
  width: 79%;
  position: relative;
}

.top-row {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-btn {
  display: flex;
  align-items: center;
}

.call-btn div img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.info-btn {
  display: flex;
  align-items: center;
}
.info-btn p {
  margin: 0px 3px;
}

.button-row {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-main {
  width: 48%;
  height: 95px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btn-main img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  overflow: hidden;
}

.btn-connect {
  background-image: linear-gradient(46deg, #ffbf96, #fe7096);
}

.btn-schedule {
  background-image: linear-gradient(46deg, #90caf9, #047edf);
}

.bg-circle-1 {
  position: absolute;
  right: -38px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
}

.bg-circle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  right: 0px;
  bottom: -55px;
}

.card {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.card-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.header-right {
  display: flex;
  align-items: center;
}
.header-btn {
  font-size: 1.05rem;
  font-weight: 600;
}
.header-btn img {
  width: 35px;
  height: 35px;
}

.btn-send {
  border: 2px solid #3f9eea;
  border-radius: 5px;
  color: #0a5faa;
}
.btn-send:hover {
  background-color: #0a5faa;
  border: 2px solid #fff;
  color: #fff;
}

.window {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #eeeeee;
}

.window h5 {
  margin-top: 10px;
  color: #108a6c;
}

.window-large {
  height: 417px;
  background-color: #eafffa;
  flex-direction: column;
}

.window-large h5 {
  position: absolute;
  bottom: 125px;
}

.window-small {
  position: relative;
  height: 200px;
}

.window-small h6 {
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.image-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.image-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#videoCam {
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}
.modal-image img {
  width: 750px;
  height: 500px;
}

/* #video {
  display: none;
} */

.footer {
  width: 95%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
